.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  z-index: 1000;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 0 1rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected {
  font-weight: bold;
  color: rgb(0, 140, 255) !important;
  text-decoration: underline;
}

.navList a {
  color: #333;

}

.navList a:hover {
  color: rgb(0, 140, 255);
}


@media (max-width: 768px) {
  .title {
    display: none;
  }
  .language {
    display: none;
  }
}
