@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


/* Laptop & Desktop */
.main {
  background-color: whitesmoke;
  height: 100vh;
}

.heading {
  padding: 2rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title i {
  font-weight: 100;
  padding-left: 1rem;
  color: #ecd632;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 650;
  padding-bottom: 0.5rem;
}

.title p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.containerBg {
  display: flex;
  justify-content: center;
}

.container {
  width: 98%;
  height: 75vh;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxWrapper {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.resultsBoxInactive {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.resultsBoxActive {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.clientBoxNotSelected {
  width: 20%;
  min-height: 34rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.clientBoxNotSelected p {
  font-size: 1.5rem;
  font-weight: 400;
}

.clientBoxSelected {
  width: 20%;
  min-height: 34rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: whitesmoke;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.clientBoxSelected figure {
  width: 65%;
}

.clientInfo {
  width: 90%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 10%;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.listItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.listItem:hover {
  background-color: #587fe9;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}


/* mobile & tablet */
@media (max-width: 1920px) {
  .main {
    background-color: white;
  }
}
