/* Conteneur principal pour le login */
.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  background-color: rgb(235, 235, 235);
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

.field {
  margin-bottom: 1.5rem;
  text-align: left;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

.vSmallMarginLeft {
  margin-left: 0;
}

.buttonText {
  margin-left: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
}

.actions {
  text-align: center;
}

.buttonLink {
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: #3273dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonLink:hover {
  background-color: #275a9e;
}
