@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.bar nav {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .bar nav p {
    font-size: 1.6rem;
    font-weight: 650;
  }
  
  .navbarLinks {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .navbarLinks a {
    color: black;
  }

/* mobile & tablet */
@media (max-width: 1080px) {
  .bar nav {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 1rem;
  }
  .companyName {
    display: none;
  }
  .profilePic {
    display: none;
  }
}
  