@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


/* Laptop & Desktop */

.main {
  background-color: white;
}

.main nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
  background-color: cornflowerblue;
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.title h1 {
  font-size: 12rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  margin: -2rem;
}

.buttons button {
  font-size: 2.5rem;
  font-weight: 600;
}

.main section {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUs {
  display: flex;
  justify-content: center;
}

.aboutUs div {
  width: 90%;
}

.aboutUs p {
  font-size: 1.9rem;
  padding: 2rem;
  text-align: justify;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  display: flex;
  justify-self: center;
  background-color: cornflowerblue;
}

.stats div {
  width: 25%;
}

.stats h2 {
  font-size: 7.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

.stats p {
  font-size: 2rem;
  padding: 2rem;
  text-align: justify;
}


/* mobile */
@media (max-width: 700px) {
  .heading {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .title h1 {
    font-size: 2.8rem;
    padding-left: 1rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: -3rem;
  }
  .buttons button {
    font-size: 1.6rem;
  }
}



/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
