/* Conteneur principal pour le login */
.clothes {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clothesContainer {
  background-color: rgb(235, 235, 235);
  padding: 2rem; /* Utilisez des unités relatives pour le padding */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90%; /* Utilisez un pourcentage pour la largeur */
  text-align: center;
}

/* Styles des images dans le carousel */
.carouselImage {
  max-width: 200px; /* Les images s'adaptent à la largeur du conteneur */
  height: 200px; /* La hauteur ajuste automatiquement pour préserver les proportions */
  object-fit: cover; /* Ajuste l'image pour couvrir le conteneur tout en préservant ses proportions */
}

.carouselContainer {
  display: flex;
  align-items: center; /* Centre les éléments verticalement */
  position: relative;
  width: 100%; /* ou une largeur fixe si tu préfères */
  max-width: 600px; /* ajuste selon tes besoins */
  margin: 0 auto; /* centre le carrousel */
}

.carousel {
  flex: 1; /* Permet à la zone de l'image de prendre tout l'espace restant */
  overflow: hidden; /* Cache les parties des flèches qui pourraient dépasser */
}

.arrow {
  color: rgb(86, 112, 255); /* couleur des flèches */
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px; /* taille de la flèche */
}

.leftArrow {
  margin-left: 6rem; /* espace entre la flèche gauche et l'image */
}

.rightArrow {
  margin-right: 6rem; /* espace entre l'image et la flèche droite */
}


/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .clothesContainer {
    padding: 2rem; /* Réduire le padding sur les petits écrans */
  }

  .carouselImage {
    width: 100px; /* Taille plus petite des images sur les petits écrans */
    height: 100px; /* Taille plus petite des images sur les petits écrans */
  }
}

@media (max-width: 480px) {
  .carouselImage {
    width: 80px; /* Taille encore plus petite des images sur les très petits écrans */
    height: 80px; /* Taille encore plus petite des images sur les très petits écrans */
  }
}
