@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh; /* Assure que l'élément occupe toute la hauteur de la fenêtre */
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 2rem;
}

.exportAddButtons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.table {
  flex-grow: 1; /* Permet à la table de s'étendre */
  overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
  width: 100%;
}

.container {
  width: 100%; /* S'assure que la table occupe tout l'espace disponible */
}

.tableContainer {
  flex-grow: 1;
  width: 100%; /* Laisse le tableau occuper toute la largeur */
  overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
}


@media (max-width: 1920px) {
  .main {
    background-color: whitesmoke;
  }
}
