@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Laptop & Desktop */
.main {
  background-color: whitesmoke;
  padding-bottom: 2rem; /* remove later */
  height: 100vh;
}

.heading {
  padding: 2rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 650;
}

.title p {
  font-size: 1.1rem;
}

.exportAddButtons {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  gap: 2rem;
}

.containerBg {
  display: flex;
  justify-content: center;
}

.container {
  width: 98%;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.filterBar {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.dropApply {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dropApply button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

.filterBar i {
  font-size: 1.4rem;
  font-weight: 600;
  align-self: center;
}

.category {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.category div {
  width: 100%;
  font-size: 1.3rem;
}

.actions {
  text-align: right;
}

.actions i {
  font-size: 1.9rem;
  padding: 0;
}

.actions i:hover {
  cursor: pointer;
}

.employee {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.employee div {
  width: 100%;
  font-size: 1.3rem;
}

.employee i {
  font-size: 1.4rem;
  font-weight: 600;
}

.checkName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.checkName i {
  font-weight: 100;
}

.profilePicture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.container button {
  width: 100%;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  position: fixed;
  background-color: whitesmoke;
  width: 50%;
  max-height: 80%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
}

.popupContent h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.popupContent form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.popupContent label {
  font-size: 1.7rem;
}

.popupContent input {
  padding: 1rem;
  font-size: 1.2rem;
}

.formButtons {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  gap: 2rem;
}

.formButtons button {
  font-size: 1.3rem;
  border-radius: 5px;
}

.dropdown {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid #ddd;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
}

.searchInput {
  width: 99%;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.topDropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topDropdown h2 {
  font-size: 2rem;
}

.topDropdown i {
  padding-right: 0.5rem;
  cursor: pointer;
}

.dropdown ul {
  overflow-y: auto;
  background-color: white;
}

.listItem {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.listItem p {
  font-size: 1.5rem;
}

.listItem:hover {
  background-color: #b7d8ff;
}

/* mobile & tablet */
@media (max-width: 1480px) {
  .category {
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .category div {
    width: 15%;
  }
  .employee {
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .employee div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    width: 15%;
  }
  .actions {
    position: relative;
    display: inline-block;
    text-align: flex-start;
  }
  .checkName {
    padding: 0;
  }
  .checkName i {
    display: none;
  }
  .checkName p {
    text-align: center;
  }
  .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .employee .dropdown {
    width: 70% !important;
    max-width: 100% !important;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .employee .topDropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .topDropdown h2 {
    font-size: 1.4rem;
  }
  .searchInput {
    font-size: 1.3rem;
  }
  .listItem p {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {
  .title h1 {
    font-size: 2rem;
    font-weight: 650;
  }
  .title p {
    font-size: 1rem;
  }
  .email {
    font-size: 0.7rem;
  }
  .exportAddButtons {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .exportAddButtons button {
    font-size: 1rem;
  }
  .exportAddButtons i {
    font-size: 1.6rem;
  }
  .employee .dropdown {
    width: 80% !important;
    max-width: 100% !important;
  }
  .topDropdown h2 {
    font-size: 1.2rem;
  }
  .searchInput {
    font-size: 1rem;
  }
  .listItem p {
    font-size: 1rem;
  }
  .popupContent {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
  }
  .popupContent h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .popupContent form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .popupContent label {
    font-size: 1.4rem;
  }
  .popupContent input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .formButtons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .formButtons button {
    font-size: 1.2rem;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .title h1 {
    font-size: 1.7rem;
    font-weight: 650;
  }
  .title p {
    font-size: 0.9rem;
  }
  .exportAddButtons {
    gap: 0.5rem;
  }
  .exportAddButtons button {
    font-size: 1rem;
  }
  .exportAddButtons i {
    font-size: 1.5rem;
  }
  .category div {
    font-size: 0.8rem;
  }
  .checkName {
    font-size: 0.9rem;
  }
  .popupContent {
    width: 90%;
  }
  .popupContent h2 {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .popupContent label {
    font-size: 1.1rem;
  }
  .popupContent input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .formButtons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .formButtons button {
    font-size: 1rem;
    border-radius: 5px;
  }
}
