@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Laptop & Desktop */
.main {
  background-color: whitesmoke;
  height: 100vh;
}

.heading {
  padding: 2rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title i {
  font-weight: 100;
  padding-left: 1rem;
  color: #ecd632;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 650;
  padding-bottom: 0.5rem;
}

.title p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.containerBg {
  display: flex;
  justify-content: center;
}

.container {
  width: 98%;
  height: 75vh;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}

.boxWrapper {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 1;
}

.resultsBoxInactive {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-shrink: 1;
}

.resultsBoxActive {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  flex-shrink: 1;
}

.clientBoxNotSelected {
  width: 20%;
  min-height: 34rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  flex-shrink: 1;
}

.clientBoxNotSelected p {
  font-size: 1.5rem;
  font-weight: 400;
  flex-shrink: 1;
}

.clientBoxSelected {
  width: 20%;
  min-height: 34rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: whitesmoke;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  flex-shrink: 1;
}

.clientBoxSelected figure {
  width: 65%;
}

.clientInfo {
  width: 90%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 1;
}

.searchInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.dropdown1 {
  position: absolute;
  background-color: white;
  width: 10%;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  max-height: 20rem;
  overflow-y: auto;
  left: 4rem;
  top: 36rem;
}

.dropdown2 {
  position: absolute;
  background-color: white;
  width: 10%;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  max-height: 20rem;
  overflow-y: auto;
  right: 4rem;
  top: 36rem;
}

.listItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.listItem:hover {
  background-color: #587fe9;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 2111px) {
  .resultsBoxInactive {
    font-size: 2.7rem;
  }
  .resultsBoxActive {
    font-size: 3rem;
  }
}

/* Tablet */
@media (max-width: 1915px) {
  .resultsBoxInactive {
    font-size: 2.2rem;
  }
  .resultsBoxActive {
    font-size: 1.2rem;
  }
}

@media (max-width: 1597px) {
  .resultsBoxInactive {
    font-size: 1.7rem;
  }
  .resultsBoxActive {
    font-size: 1.2rem;
  }
}

@media (min-width: 500px) and (max-width: 1265px) {
  .heading {
    padding-top: 5.5rem;
    padding-bottom: 0.5rem;
  }
  .title h1 {
    font-size: 1.5rem;
    padding: 0;
  }
  .title p {
    font-size: 1rem;
  }
  .containerBg {
    padding: 0;
  }
  .container {
    width: 100%;
    height: 85vh;
    padding: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    gap: 1.5rem;
  }
  .boxWrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .clientBoxNotSelected {
    min-height: 12rem;
    min-width: 24rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
  }
  .clientBoxNotSelected p {
    font-size: 1.5rem;
  }
  .clientBoxSelected {
    min-height: 12rem;
    min-width: 24rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .clientBoxSelected p {
    font-size: 1.5rem;
  }
  .clientBoxSelected figure {
    width: 30%;
  }
  .clientInfo {
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
  }
  .clientInfo h2 {
    font-size: 0.8rem;
  }

  .clientInfo p {
    font-size: 0.8rem;
  }

  .resultsBoxInactive {
    min-height: 12rem;
    min-width: 24rem;
    font-size: 1.5rem;
  }
  .resultsBoxActive {
    min-height: 12rem;
    min-width: 24rem;
    font-size: 1.8rem;
  }
  .buttonWrapper {
    padding-top: 0;
    padding-bottom: 3rem;
    font-size: 1rem;
  }
  .dropdown1,
  .dropdown2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 24rem;
    min-height: 12rem;
  }
}

/* mobile */
@media (max-width: 500px) {
  .heading {
    padding-top: 5.5rem;
    padding-bottom: 0.5rem;
  }
  .title h1 {
    font-size: 1.5rem;
    padding: 0;
  }
  .title p {
    font-size: 1rem;
  }
  .containerBg {
    padding: 0;
  }
  .container {
    width: 100%;
    height: 69vh;
    padding: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    gap: 1.5rem;
  }
  .boxWrapper {
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .clientBoxNotSelected {
    min-height: 6rem;
    min-width: 12rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
  }
  .clientBoxNotSelected p {
    font-size: 1rem;
  }
  .clientBoxSelected {
    min-width: 12rem;
    min-height: 6rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .clientBoxSelected p {
    font-size: 1rem;
  }
  .clientBoxSelected figure {
    width: 30%;
  }
  .clientInfo {
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
  }
  .clientInfo h2 {
    font-size: 0.8rem;
  }

  .clientInfo p {
    font-size: 0.8rem;
  }

  .resultsBoxInactive {
    width: 100%;
    font-size: 1rem;
  }
  .resultsBoxActive {
    width: 100%;
    font-size: 1.2rem;
  }
  .buttonWrapper {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
  }
  .dropdown1, .dropdown2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 12rem;
    min-height: 6rem;
  }
}
