.chart-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .chart-container {
    height: 40vh;
  }
}

@media (min-width: 769px) {
  .chart-container {
    height: 60vh;
  }
}
