@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.main {
  background-color: whitesmoke;
}

.heading {
  padding: 2rem;
  padding-top: 6rem;
}

.heading h1 {
  font-size: 3.5rem;
  font-weight: 500;
}

.containerBg {
  display: flex;
  justify-content: center;
}

.container {
  width: 98%;
  background-color: white;
  height: auto;
}

.tips div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-height: 5rem;
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.question:hover {
  background-color: #e0e0e0;
}

.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-left: 1rem;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  display: flex;
  align-items: center;
}

.answer p {
  font-size: 1.5rem;
}

.answer.show {
  min-height: 6rem;
  max-height: 6rem;
  opacity: 1;
  border: 1px solid #ccc;
  border-radius: 2px;
}
