@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


/* Laptop & Desktop */
.main {
  background-color: aliceblue;
}

.main nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
  padding: 2rem;
  padding-top: 5rem;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 650;
}

.heading p {
  font-size: 1.5rem;
}


/* mobile & tablet */
@media (max-width: 1920px) {
  .main {
    background-color: white;
  }
}
